* {
  padding: 0px;
  font-family: Arial;
  margin: 0;
}

body {
  background-color: #f2f2f2;
}

.responsive-page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.hamburger-button {
  border: none;
  background: none;
}

.responsive-page-navigation-container {
  display: none;
  gap: 24px;
}

.navigation-list-item {
  list-style: none;
}

.navigation-links {
  text-decoration: none;
  color: #343d42;
  font-weight: 600;
  font-size: 18px;
}

.responsive-page-buttons-container {
  display: none;
  gap: 24px;
}

.button {
  border-radius: 6px;
  outline: none;
  border: none;
  padding: 14px 34px;
  font-size: 18px;
  width: max-content;
}

.button-white {
  background-color: #ffffff;
  color: #343d42;
}

.button-purple {
  background-color: #843e71;
  color: #ffffff;
}

.banner-container {
  padding: 0px 20px;
}

.banner-text-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.banner-title {
  color: #343d42;
  font-weight: 700;
}

.purple-text {
  color: #843e71;
  font-weight: 700;
}

.banner-text {
  font-weight: 600;
}

.banner-image-container {
  display: flex;
  justify-content: center;
}

.banner-image {
  width: 280px;
  height: 258.67px;
}

.partners-container {
  display: flex;
  gap: 24px;
  flex-direction: column;
  padding: 0px 20px;
}

.partners-title {
  text-align: center;
  color: #586166;
  font-size: 28px;
}

.partners-logos-container {
  display: flex;
  justify-content: center;
}

.partners-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 832px;
}

@media (min-width: 768px) {
  .banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .responsive-page-header-container {
    padding: 10px 72px;
  }
  .responsive-page-navigation-container {
    display: flex;
  }
  .responsive-page-buttons-container {
    display: flex;
  }
  .banner-container {
    padding: 0px 72px;
  }
  .banner-title {
    font-size: 50px;
  }
  .hamburger-button {
    display: none;
  }
  .banner-image {
    width: 542.31px;
    height: 501px;
  }
  .partners-title {
    font-size: 42px;
  }
  .partners-container {
    gap: 40px;
    padding: 0px 72px;
  }
}
